  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>

        </button>

      </div>
      <center><img src="/static/logo.svg" height: auto; alt="Avatar" style="width:9%"></center>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="./login">Log in</a></li>
          <li><a href="./registration">Sign up</a></li>
          <li><a href="./logout">Log out</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="input-group">
            <div class="form-outline">
              <input type="search" id="form1" placeholder="Search" class="form-control" />
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>