<title>Login</title>

<div class="login">
    <h1 class="text-center" style="color: #4835d4;">Log In</h1>

    <form action="/login" method="post" enctype="application/x-www-form-urlencoded">

        <input type="text" name="username" class="form-control" value="" placeholder="Username" />
        {{#if data.errorMsg.username}}
        <div class="alert alert-danger" style="height: 50px; margin-top: 8px; font-size: 15px;">
            {{data.errorMsg.username}}
        </div>
        {{/if}}

        <input type="password" id="password" name = "password" class="form-control" value="" placeholder="Password"
            style="margin-top: 8px;" />
        {{#if data.errorMsg.password}}
        <div class="alert alert-danger" style="height: 50px; margin-top: 8px; font-size: 15px;">
            {{data.errorMsg.password}}
        </div>
        {{/if}}

        <div class="form-group form-check" style="margin-top: 8px;">
            <input class="form-check-input" type="checkbox" id="check">
            <label class="form-check-label" style="color: #4835d4;" for="check">Remember me</label>
        </div>

    {{#if data.errorMsg.notFound}}
        <div class="alert alert-danger" style="height: 50px; margin-top: 8px; font-size: 15px;">
            <center>{{data.errorMsg.notFound}}</center>
        </div>
    {{/if}}
        <center><input type="submit" class="btn btn-outline-primary" name="login" value="Login"></input></center>

        <a class="nav-link" href="./registration"
            style="font-size: 15px; text-align: right; text-decoration: none; ">Sign up?</a>
    </form>
</div>