
  <title>AlmaLinux</title>

<div class="container">
  <div class="row" style="padding-bottom:50px">
    <div class="z">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./">Web Hosting Canada</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="./login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./registration">Sign Up</a>
            </li>
          </ul>
          <div class="j">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                style="padding-right:20px">
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <br><br>
  <div class="card">
    <center><img src="blog_19557_large.jpg" height: auto; alt="AlmaLinux" style="width:70%"></center>
    <div class="container">
      <br>
      <h4><b>AlmaLinux 8 is now available!</b></h4>
      <article>
        <hr size="20">
        <b>What is AlmaLinux 8?</b>

        <br>AlmaLinux 8 is an enterprise-grade operating system (OS), like CentOS, that provides a powerful platform
        for your servers to deliver websites and email. It was developed in response to the announcement that CentOS 8
        support has reached ‘end of life’. This means essential security updates will soon no longer be available for
        this OS.
        <hr size="20">
        <b>How do I get it?</b>
        <br>If you activate a new Cloud or Dedicated server, you will now have the option to have AlmaLinux 8
        pre-installed as your OS.
        <hr size="20">
        <b>Why choose AlmaLinux 8?</b>
        Here are some of the notable benefits you’ll get with AlmaLinux 8:
        <ul>
          <li><b>Built for enterprise: </b>Built for enterprise: It’s an enterprise-grade OS that is more than capable
            of handling substantial server workloads.</li>
          <li><b>Long support windows: </b>Support for AlmaLinux 8 has been committed to until at least 2029,
            including thoroughly tested updates and security patches.</li>
          <li><b>Easy to switch over: </b>AlmaLinux is a 1:1 binary replacement for Red Hat Enterprise Linux (RHEL).
            This makes switching from the same versions of CentOS to AlmaLinux a breeze, requiring minimum effort.
          </li>
          <li><b>Full cPanel Support: </b>Having partnered with AlmaLinux from the beginning, you can expect the same
            high level of support from cPanel & WHM as provided for CentOS.</li>
        </ul>
        <hr size="20">
      </article>
    </div>
  </div>
  <br>
  <div class="card">
    <ul>
      <input type="text" placeholder="Name" style="margin-top: 50px; margin-bottom: 5px" class="form-control"
        id="usr">
      <input type="text" placeholder="Email" style="margin-bottom: 5px" class="form-control" id="usr">
      <textarea class="form-control" placeholder="Leave a comment" rows="5" id="comment"></textarea>
    </ul>
  </div>
</div>
</div>
